<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.springboot_vue.mapper.CityMapper">

    <resultMap id="city" type="com.example.springboot_vue.pojo.city.City">
        <result column="name" property="name"/>
        <result column="parent_name" property="parentName"/>
        <result column="number" property="number"/>
        <result column="column_1" property="test"/>
        <result column="column_2" property="test2"/>
        <result column="mark_id" property="markId"/>
    </resultMap>

    <insert id="insertCity" parameterType="java.util.ArrayList">
        insert into city(`name`, parent_name) values
        <foreach collection="areaNames" item="area" separator=",">
            (#{area}, #{parent})
        </foreach>
    </insert>

    <insert id="insertCityAndNumber" parameterType="java.util.ArrayList">
        insert into city(`name`, parent_name, `number`) values
        <foreach collection="nameList" item="name" index="i" separator=",">
            <if test="i == 0">
                (#{nameList[${i}]}, null, #{numberList[${i}]})
            </if>
            <if test="!(i == 0)" >
                (#{nameList[${i}]}, #{nameList[0]}, #{numberList[${i}]})
            </if>
        </foreach>
    </insert>

    <insert id="insertCityAll" parameterType="java.util.List">
        insert into city(`name`, parent_name, `number`, column_1, column_2, mark_id) values
        <foreach collection="list" separator="," item="item">
            (#{item.name}, #{item.parentName}, #{item.number}, #{item.test}, #{item.test2}, #{item.markId})
        </foreach>
    </insert>

    <insert id="insertUCityAll" parameterType="java.util.List">
        insert into city_temp(`name`, parent_name, `number`, column_1, column_2, mark_id) values
        <foreach collection="list" separator="," item="item">
            (#{item.name}, #{item.parentName}, #{item.number}, #{item.test}, #{item.test2}, #{item.markId})
        </foreach>
    </insert>


    <select id="selCity" resultMap="city">
        select `name`, `number`, parent_name  from city
    </select>

    <select id="getPageCity" resultMap="city">
        select * from city where mark_id >= (select mark_id from city where mark_id > #{currentPage} limit 1) order by mark_id limit #{pageCount}
    </select>

</mapper>
