<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.springboot_vue.mapper.CityMapper">

    <resultMap id="city" type="com.example.springboot_vue.pojo.city.City">
        <result column="name" property="name"/>
        <result column="parent_name" property="parentName"/>
        <result column="number" property="number"/>
    </resultMap>

    <insert id="insertCity" parameterType="java.util.ArrayList">
        insert into city(`name`, parent_name) values
        <foreach collection="areaNames" item="area" separator=",">
            (#{area}, #{parent})
        </foreach>
    </insert>

    <insert id="insertCityAndNumber" parameterType="java.util.ArrayList">
        insert into city(`name`, parent_name, `number`) values
        <foreach collection="nameList" item="name" index="i" separator=",">
            <if test="i == 0">
                (#{nameList[${i}]}, null, #{numberList[${i}]})
            </if>
            <if test="!(i == 0)" >
                (#{nameList[${i}]}, #{nameList[0]}, #{numberList[${i}]})
            </if>
        </foreach>
    </insert>

    <select id="selCity" resultMap="city">
        select `name`, `number`, parent_name  from city
    </select>
</mapper>
